---
layout: default
title: Terms
extra_css:
  - terms.css
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">

      <div class="col-sm-9 col-md-9">
        <div id="gitlab-com">
          <h2 class="terms">GitLab.com Terms</h2>
          <p><a href="print/gitlab_com_terms.pdf">PDF Preview</a></p>
          {% include gitlab_com_terms.html %}
        </div>

        <div id="subscription">
          <h2 class="terms">GitLab Subscription Terms</h2>
          <p><a href="print/gitlab_subscription_terms.pdf">PDF Preview</a></p>
          {% include subscription_terms.html %}
        </div>

        <div id="consultancy">
          <h2 class="terms">GitLab Consultancy Terms</h2>
          <p><a href="print/gitlab_consultancy_terms.pdf">PDF Preview</a></p>
          {% include consultancy_terms.html %}
        </div>

        <div id="githost">
          <h2 class="terms">GitHost.io Terms</h2>
          <p><a href="print/githost_terms.pdf">PDF Preview</a></p>
          {% include githost_terms.html %}
        </div>
      </div>

      <div class="col-sm-3 col-md-3">
        <ul class="nav nav-list">
          <li><a href="#gitlab_com">GitLab.com Terms</a></li>
          <li><a href="#subscription">GitLab Subscription Terms</a></li>
          <li><a href="#consultancy">GitLab Consultancy Terms</a></li>
          <li><a href="#githost">GitHost Terms</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/dmca">DMCA Policy</a></li>
          <li><a href="/disclosure">Responsible Disclosure Policy</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
