<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/libs/jquery.min.js"><\/script>')</script>
<script src="/javascripts/libs/bootstrap.min.js"></script>
<script src="/javascripts/libs/jquery.fitvids.js"></script>
<script src="/javascripts/libs/jqBootstrapValidation.js"></script>
<script src="/javascripts/libs/jquery.magnific-popup.min.js"></script>
<script src="/javascripts/libs/bounce.js"></script>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/scroll.js"></script>

<script type="text/javascript">
$.ajax({
  url: '//munchkin.marketo.net/munchkin.js',
  dataType: 'script',
  cache: true,
  success: function() {
    Munchkin.init('194-VVC-221');
  }
});
</script>

{% for js_name in page.extra_js %}
  <script src="/javascripts/{{ js_name }}"></script>
{% endfor %}
